<%- include("partials/header.ejs") %>
 

<div class="container z-index">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="text-white text-center">
                <form action="/check" method="POST">
                    <h1 class="h3 mb-3 fw-normal">Please login </h1>
                    <p class=" mt-3 mb-3 psp">hint: The password exists somewhere on the home page</p>
                    <% if (locals.message) {%>
                    <p class=" mt-3 mb-3 psp"><%= message %></p>
                    <% } %>
                     
                    <div class="custom-div-size">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                            <label for="floatingPassword">Password</label>
                          </div>
                 </div>
                    
                    <button class='glowing-btn' type="submit"><span class='glowing-txt'>C<span class='faulty-letter'>L</span>ICK</span></button>
                    <% if (locals.year) {%>
                    <p class=" mt-5 mb-3 psp">© sadeq <%= year %></p>
                    <% } else { %>
                        <p class=" mt-5 mb-3 psp">© sadeq</p>
                        <% } %>
                  </form>

                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>




